<mat-toolbar class="header">
  <mat-toolbar-row color="accent">
    <a mat-raised-button class="logo" routerLink="/" title="v{{ version }}">
      <span class="accent mat-headline title">{{ title }}</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="subheader mat-subheading-2">
    <span>&gt; </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="content-container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened fixedInViewport>Nav</mat-sidenav>
  <mat-sidenav-content>
    <h1>Hey</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
